<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>Senior Capstone Project</p>
        <p>Modular Battery Swapping System</p>
      </div>

      <div class="footer-col footer-col-3">
        <p><strong>Project Timeline</strong></p>
        <p>First Prototype: Nov 6 - Dec 19, 2025</p>
        <p>Final Deliverable: Jan - June 2026</p>
      </div>
    </div>

  </div>

</footer>

